@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Santral Light";
  src: url("../fonts/fonts/Santral-Light.otf");
}

#wrapper{
  position: relative;
  overflow: hidden;
}

/*      Cambios del menu     */
.navbar{
  margin: 0;
}
.navbar .navbar-brand{
  padding: 8px;
  z-index: 9999;
}
.navbar,
.navbar .navbar-brand,
.navbar .navbar-nav,
.navbar .navbar-nav li{
  min-height: 80px;
}
.navbar .navbar-nav li a{
  line-height: 50px;
}   
.navbar-brand img{
  height: 100%;
}
.bg-primary{
  transition: all .5s ease;
  background: transparent; 
  border: 0;
}
.bg-inverse{
  background: rgba(255,255,255,.98);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.bg-inverse,
.bg-inverse .navbar-brand,
.bg-inverse .navbar-nav,
.bg-inverse .navbar-nav li{
  min-height: 50px;
}
.bg-inverse .navbar-nav li a{
  line-height: 20px;
}
.navbar .opciones {
  padding-left: 95px;
  text-align: center !important;

}
.navbar .opciones>li>a{
  font-size: 12px;
}
.navbar-default .navbar-nav>li>a {
  color:#f0f0f0;
  font-family: "Raleway-Medium";
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bg-inverse .navbar-nav>li>a {
  color:#646464;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover{
    color: #32a2d4;
    background-color: transparent;
}
.navbar .navbar-nav li a:hover{
  color: #32a2d4;
} 


/*
.content-box-side .box-side-details .box-side__header i {
    float: left;
    text-align: left;
    margin-top: 6px;
}
.carna-menu-wrap{
  text-align: right;
}*/
.l-portfolio {
    padding-top: 40px;
    padding-bottom: 80px;
}

.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: .92;
}
.modal-backdrop {
    background-color: #4A5250;
}
.modal-body {
    padding: 0px;
}

.back-to-top{
    display: none;
    position: fixed;
    bottom: 10px;
    width: 20px;
    height: 30px;
    right: 10px;
    padding: 5px 2px;
    z-index: 9999;
    text-align: center;
    font-size: 20px;
    color: #32a2d4;
    cursor: pointer;
}
.back-to-top:hover {
  color: #1B78A2;
}



.section-header {   
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: "Raleway-Bold";
  font-size: 2em;
  opacity: 1;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.standard-title{   
   font-family: "Raleway-Light";
  text-transform: none;
  font-size: 18px;
  margin-top: 10px;
}
.box-side-details p{
  font-family: "Raleway-Light";
  color: #4a4a4a;
}
.counter-content i {
    color: #20D6B2;
}
.jumbotron{
  color: #ffffff;
  position: relative;
}
.jumbotron .scroll{
  position: absolute;
  bottom: 18%;
  left: 48.5%;
  width: 3%;
  text-align: center;
  cursor: pointer;

}
.jumbotron .scroll img{
      width: auto;
    height: 50px;
      opacity: .7;
}

.efecto{ 
  width: 100%;
  height: 100%;
  background: rgba(10,30,30,.8);  
}


.dark-bg,.deco-parting,#logos,.mm-menu{ 
  background-image: url('../img/noisy_net.png');  
}
.jumbotron{
  padding: 0;
  overflow: hidden;
  margin: 0; 
  background: url('../img/banner.jpg'); 
  background-size: 100% 95vh !important;
  background-repeat: no-repeat; 
  background-position: bottom center; 
}
#work{ 
  background: #ffffff;  /*fbfaf9*/
    background: url('../img/portfolio.jpg'); 
  background-size: 100% 100vh !important;
  background-repeat: no-repeat; 
  background-position: top right; 
}
#about{
  background: rgba(255, 255, 255, 1);
  font-family: "Raleway-Light";
}
#services{ 
  background: url('../img/servicios.png'); 
  background-size: 100% 100% !important;
  background-repeat: no-repeat; 
  background-position: center; 
/*  background: #193f42; /*fbfaf9*/*/
}
#skills{ 
  background: url('../img/skill.png'); 
  background-size: 100% 100% !important;
  background-repeat: no-repeat; 
  background-position: top; 
  /*background-image: url('../img/noisy_net.png');   79vh */
}

#contact{ 
  background-image: url('../img/fondo3.jpeg');  
  background-size: cover;
}

.counter-content{ 
  background-image: url('../img/fondo2.jpg');  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counter-content {
  border-top: 0px solid #25282b;
}
.counter-content .counter {
    border-right: 1px solid #8a85854d;
    border-top: 1px solid #8a85854d;
}
.counter-content .label {
  font-family: "Raleway-Light";
  text-transform: capitalize;
}


#work{ 
  min-height: 100vh;
}
#work h1{
  color: #343434;
}
#works a{
 cursor: pointer;
}
#work .botones{
    padding-bottom: 40px;
}
#work .botones .btn-portfolio {
    font-family: "Raleway-Bold";
    color: #3e3e3e;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ccc;
    margin: 0px;
    padding: 5px 8px;
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
}
#work .botones .btn-portfolio:focus{
    outline: none;
}
#work .botones .btn-portfolio:hover{
    border-bottom: 1px solid #2F6468;
}
#work .botones .active,
#work .botones .active:hover,
#work .botones .btn-portfolio:focus{
  background: #32a2d4;  /* fallback for old browsers */
color: #ffffff;
  border: 0px;
}
#work .portfolio { 
  display: inline-block;
} 
#work .title_element{ 
  color: #3f3f3f;
  font-family: "Raleway-Bold";
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
#work .portfolio .filter{ 
  padding-right: 15px;
  padding-left: 15px;
}
#work .portfolio .item{ 
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
  -webkit-box-shadow: 0 10px 6px -6px #B2B2B2;
  -moz-box-shadow: 0 10px 6px -6px #B2B2B2;
  box-shadow: 0 10px 6px -6px #B2B2B2;
}
#work .portfolio .item:hover{ 
  cursor: pointer;
}
#work .portfolio .item .info{ 
  background: #fff;
/*  border-top-left-radius: 4px;
  border-top-right-radius: 4px;*/
    border-radius: 4px;
  max-height: 230px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#work .portfolio .item .info .image{ 
  height: 320px;
  max-height: 320px;
  width: 100%;
  overflow: hidden;
}
#work .portfolio .item .info img {
  width: 100%;
  height: auto;
}
#work .portfolio .item .info .details{
  position: absolute;
  top: 0 ;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 99;
  padding: 70px 10px;
  transition: opacity .3s ease-in-out;
  background: rgba(5, 5, 5, 0.9);
}
#work .portfolio .item .info .details a{
  display: inline-block;
  position: absolute;
  border-radius: 4px;
  margin: 0px 4px;
  padding: 5px 8px;
  text-align: center;
  
}
#work .portfolio .item .info .details .ver{
  background: #32a2d4; 
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  bottom: 10px;
  right: 80px;
  font-family: "Raleway-Medium";
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
}
#work .portfolio .item .info .details .ver i{
  line-height: 20px;
  font-size: 10px;
  margin-left: 4px;
  vertical-align: middle;
}
#work .portfolio .item .info .details .link{
  background: #ffffff;
  width: 55px;
  font-size: 1.35em;
  color: #616161;
  bottom: 10px;
  right: 10px;
  padding: 2px 5px;
}
#work .portfolio .item .info:hover .details{
  opacity: 1;
}
#work .portfolio .item .detalles h4{ 
  color: #32a2d4;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
} 
#work .portfolio .item .detalles p{ 
  color: #C8C8C8;
  font-family: "Raleway-Light";
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
} 


#skills{
  padding-top: 60px;
  padding-bottom: 60px;
}
#skills .skill {
  text-align: center;
  padding-bottom:20px;
}
#skills .skill .skill-title{
  color:#cccccc;
  font-family: "Raleway-Light";
  font-size: 14px;
  margin-top: 8px;
}
#skills .skill i{
  color:#ffffff;
  font-size: 4em;
  min-height: 60px !important;
}
#skills  .skill .icono{
  min-height: 63px;
  height: 63px;
  padding: 5px;
}
#skills h1{
  color: #DEDEDE;
}
#skills h4{
  color: #EDEDED;
}

#services{
    padding-top: 80px;
    padding-bottom: 120px;
}
#services h1{
  color: #ffffff;
}
#services .content-box-side .box-side-details {
  margin-left: 0px;
  padding: 10px;
}
#services i{
  color: #fff;
  font-size: 4em;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 0px;
  text-align: center;
}

#services .box-side__header{
  text-align: center;
  
}
#services .standard-title{
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
  padding-top: 14px;
}
#services p{
  color: #ECEBEB;
  font-size: 13px;
}




#about{
  padding-top: 20px;
  padding-bottom: 60px;
}
#about .aboutme{
  font-size: 1em;
  text-align: center;
}
#about .fadeInDown{
  text-align: center;
}
#about .how-work h6{
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  font-size: 1em;
  display: block;
  text-align: center;
}
#about .how-work .icono{
  width: 80px;
  text-align: center;
  display: inline-block;
}
#about .how-work i{
  color: #646464;
  font-size: 4em;
}


#gallery {
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  bottom: 0;
  display: none;
  z-index: 9999;
  background: rgba(5, 5, 5, .9);
}
#gallery .content{
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  background: #fff;
  overflow: hidden;
}
#gallery .contenido{
  overflow-y: auto;
  max-height: 100%;
  margin-right: -18px;
  position: relative;
}
#gallery img{
  width: 100%;
}
#gallery .close{
  position: absolute;
  top: 0;
  right: 0;
  /*background: #1e1e1e;*/
  line-height: 10px;
  font-size: 20px;
  padding: 10px;
  padding-right: 10px;
  color: #DDDCDC;
  text-shadow: 0 0px 0 #fff;
  z-index: 999;
  opacity: 1;
  padding-right: 10px;
}



.main-footer h4,
.main-footer h6{
    color: #e2e2e2;
    font-family: "Raleway-Medium";
}
.main-footer h6{
    margin-bottom: 10px;
    font-size: 13px;
    color: #2E2E2E;
}
.main-footer h4{
    font-size: 14px;
}
.main-footer{
  background: #ffffff;
}
@media (max-width: 993px){
    #services{ 
      background-size: cover !important;
      background: #1e5799; /* Old browsers */
      background: -moz-linear-gradient(45deg, #1e5799 0%, #05ba77 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #1e5799 0%,#05ba77 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #1e5799 0%,#05ba77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#05ba77',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    #skills{ 
      background-size: cover !important;
      background: #2b6875; /* Old browsers */
      background: -moz-linear-gradient(45deg, #2b6875 0%, #022644 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #2b6875 0%,#022644 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #2b6875 0%,#022644 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6875', endColorstr='#022644',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}
@media (min-width: 993px){
  .smaller .brand img[class*="logo"], .smaller .brand-widescreen img[class*="logo"] {
    max-height: 55px;
    padding-top: 5px;
  }
  #btn-music {
      cursor: pointer;
      position: fixed;
      z-index: 99999;
      bottom: 1.5em;
      left: 2em;
      text-decoration: none;
      color: #E4E4E4;
      font-size: 10px;
      width: 20px;
      height: 30px;
      line-height: 28px;
  }
  p.header-fill .brand .logo-dark, .nav-wrap.header-fill .brand-widescreen .logo-dark {
    padding: 8px;
    opacity: 0;
  }
  .nav-wrap.header-fill .brand .logo-white, .nav-wrap.header-fill .brand-widescreen .logo-white {
    opacity: 1;
    padding: 8px;
  }
  .nav-wrap.is-fill .brand .logo-dark, .nav-wrap.is-fill .brand-widescreen .logo-dark {
    padding: 8px;
    opacity: 1;
  }
  .nav-wrap.is-fill .brand .logo-white, .nav-wrap.is-fill .brand-widescreen .logo-white {
    opacity: 0;
    padding: 8px;
  }
}
@media (min-width: 768px){
  .navbar-nav>li {
      float: none;
      display: inline-block;
  }
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}
@media (max-width: 768px){
  .navbar .opciones {
    padding-left: 0px;
  }
  .redes{
      text-align: center;
  }
  .redes>li {
      float: none;
      display: inline-block;
  }
  .navbar,
  .navbar .navbar-brand,
  .navbar .navbar-nav,
  .navbar .navbar-nav li{
    min-height: 50px;
  }
  .navbar .navbar-nav li a{
    line-height: 20px;
  }
  .navbar .navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar .navbar-brand {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
  }
  .navbar-default .navbar-collapse{
    border: none;
    background: rgba(255,255,255,.98);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-default .navbar-nav>li>a {
    color: #646464;
  }
  .navbar-default .navbar-toggle {
    border: none;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .jumbotron{
    height: 42vh !important;
    background-size: 100% 42vh !important;;
    background-position: top !important;;
  }
  #work{
    background-size: 100% !important;;
    background-position: top !important;;
  }
  .jumbotron .scroll{
    bottom: 12%;
  }
  .jumbotron .banner1,
  .jumbotron .banner2,
  .jumbotron .banner3{
    width: 70% !important;
    left: 15% !important;
  }
    #services{ 
      background-size: cover !important;
  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(45deg, #1e5799 0%, #05ba77 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #1e5799 0%,#05ba77 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #1e5799 0%,#05ba77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#05ba77',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*  background: #193f42; /*fbfaf9*/*/
}
#skills{ 
  background-size: cover !important;
background: #2b6875; /* Old browsers */
background: -moz-linear-gradient(45deg, #2b6875 0%, #022644 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2b6875 0%,#022644 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2b6875 0%,#022644 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6875', endColorstr='#022644',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
  .scroll{
    display: none;
  }
}
@media (max-width: 492px){
  .jumbotron{
    height: 45vh !important;
    background-size: 100% 45vh !important;;
    background-position: top !important;;
  }
  #work{
    background-size: contain !important;;
    background-position: center 0px !important;;
  }
  .jumbotron .banner1,
  .jumbotron .banner2,
  .jumbotron .banner3{
    width: 100% !important;
    left: 0% !important;
  }
  .scroll{
    display: none;
  }
  #services{ 
    background-size: cover !important;
  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(45deg, #1e5799 0%, #05ba77 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #1e5799 0%,#05ba77 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #1e5799 0%,#05ba77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#05ba77',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*  background: #193f42; /*fbfaf9*/*/
}
#skills{ 
  background-size: cover !important;
background: #2b6875; /* Old browsers */
background: -moz-linear-gradient(45deg, #2b6875 0%, #022644 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2b6875 0%,#022644 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2b6875 0%,#022644 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6875', endColorstr='#022644',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
}