.banner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
.scene {
  padding: 0;
  margin: 0;
  
}   
.scene img{
  max-width: initial !important;
}    
.
.expand-width {
  width: 100%;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 0.88;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}
.l1 img{
  margin-top: -15px;
  margin-left: -20px;
  width: 115%;
}

.l2{
  width: 100%;
  text-align: center;
  padding-top: 10%;
  opacity: .1;
}
.l4{
  width: 100%;
  text-align: center;
  padding-top: 43.5%;
}
.l4 a{
  padding: 10px;
  text-align: center !important;
  opacity: .5;
   webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.l4 a:hover{
  opacity: 1;
}
@media (max-width: 900px){
  .l2 h1{
    padding-top: 10%;
    font-size: 7em;
  }
  .l3 h5{
    padding-top: 24%;
  }
  .l4{
    padding-top: 40%;
  }
  .jumbotron{
    height: 50% !important;
  }
}
@media (max-width: 769px){
  .l2 h1{
    padding-top: 20%;
    font-size: 4em;
  }
  .l3 h5{
    padding-top: 17%;
  }
  .l4{
    padding-top: 45%;
  }
}
@media (max-width: 400px){
  .l2 h1{
    padding-top: 12%;
    font-size: 3em;
  }
  .l3 h5{
    padding-top: 16%;
  }
  .l4{
    padding-top: 40%;
  }
  .l4 a,
  .l4 a:hover{
    border:none;
  }
}
