/* Let's get this party started */
body::-webkit-scrollbar {
    width: 4px;
}
/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
    
/* Handle */
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C9C9C9;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #AFAFAF;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: #AFAFAF; 
}
@font-face {
  font-family: "Santral Light";
  src: url("../fonts/fonts/Santral-Light.otf");
}
@font-face {
  font-family: "SciFly Sans";
  src: url("../fonts/fonts/SciFly-Sans.ttf");
}
@font-face {
  font-family: "Ubuntu-M";
  src: url("../fonts/fonts/Ubuntu-M.ttf");
}
@font-face {
  font-family: "Jaapokki-Regular";
  src: url("../fonts/fonts/Jaapokki-Regular.otf");
}
.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: .92;
}
.modal-backdrop {
    background-color: #141C1A;
}
.modal-body {
    padding: 0px;
}
@media (min-width: 993px){
  #btn-music {
      cursor: pointer;
      position: fixed;
      z-index: 99999;
      bottom: 1.5em;
      left: 2em;
      text-decoration: none;
      color: #E4E4E4;
      font-size: 10px;
      width: 20px;
      height: 30px;
      line-height: 28px;
  }
  p.header-fill .brand .logo-dark, .nav-wrap.header-fill .brand-widescreen .logo-dark {
    padding: 8px;
    opacity: 0;
  }
  .nav-wrap.header-fill .brand .logo-white, .nav-wrap.header-fill .brand-widescreen .logo-white {
    opacity: 1;
    padding: 8px;
  }
  .nav-wrap.is-fill .brand .logo-dark, .nav-wrap.is-fill .brand-widescreen .logo-dark {
    padding: 8px;
    opacity: 1;
  }
  .nav-wrap.is-fill .brand .logo-white, .nav-wrap.is-fill .brand-widescreen .logo-white {
    opacity: 0;
    padding: 8px;
  }
}
.mm-menu-open .nav-wrap .container-fluid {
  padding-right: 0px;
}
.mm-menu-open .nav-wrap .container-fluid .logo-white{
  padding: 8px;
}
.back-to-top:hover {
  background: -webkit-linear-gradient(left top, #5eb575, #56a6c3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5eb575, #56a6c3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #5eb575, #56a6c3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5eb575, #56a6c3); /* Standard syntax */
  color: #fff;
}
div.wpcf7-validation-errors {
  border: 2px solid rgba(4, 4, 3, 0);
}
span.wpcf7-not-valid-tip {
  color: #bf6565;
}

.counter-content i {
    color: #20D6B2;
}

.masonry { margin: 40px 0px; padding: 0; -moz-column-gap: 0px; -webkit-column-gap: 0px; column-gap: 0px; font-size: .85em; } 
.masonry .item { 
  margin: 0; 
  padding: 5px;
  width: 100%; 
  display: block;
  position: relative;
} 

.masonry .item img {
  width: 100%;
  height: auto;
}
.masonry .item .info{ 
  width: 100%;
  height: 100%;
  display: inline-block;
} 
.masonry .item .info-detalles{ 
  position: absolute;
  top:10px; 
  left: 10px;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
} 
.masonry .item .info .detalles{ 
  position: absolute;
  left: 15px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  -webkit-transform:  scale(1.05);
  -moz-transform:  scale(1.05);
  -ms-transform:  scale(1.05);
  -o-transform:  scale(1.05);
  transform: scale(1.05);
  webkit-transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.5);
} 
.masonry .item .detalles span{ 
  color: #fff;
  font-size: 9px;
  font-family: "Jaapokki-Regular";
  text-transform: uppercase;
}
.masonry .item .detalles h4{ 
  color: #fff;
  margin: 0;
  margin-top: 20px;
  font-family: "Jaapokki-Regular";
  font-weight: bold;
  text-transform: capitalize;
  font-size: 28px
}
.masonry .item .detalles p{ 
  color: #fff;
  margin: 0;
  font-family: "Santral Light";
  text-transform: capitalize;
  font-size: 12px
}

.masonry .item:hover .info-detalles {
  opacity: 1;
}

.masonry .item:hover .detalles {
  -webkit-transform:  scale(1);
  -moz-transform:  scale(1);
  -ms-transform:  scale(1);
  -o-transform:  scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 400px) { .masonry { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; } } 
@media only screen and (min-width: 700px) { .masonry { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; } } 
@media only screen and (min-width: 900px) { .masonry { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; } } 
@media only screen and (min-width: 1100px) { .masonry { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; } } 
.alm-btn-wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 20px;
}


@media (min-width: 993px){
  .smaller .brand img[class*="logo"], .smaller .brand-widescreen img[class*="logo"] {
    max-height: 55px;
    padding-top: 5px;
  }
}
.mm-menu a{
  color: #00C191;
}
.dark-bg,.deco-parting,#logos,.mm-menu, .main-footer,#services{ 
  background-image: url('../img/noisy_net.png');  
}
#about{
  background: rgba(218, 218, 218, 0.5);
}
#work{ 
  background-image: url('../img/cream_pixels.png');  
}
#contact{ 
  background-image: url('../img/fondo3.jpeg');  
  background-size: cover;
}

.efecto{ 
  width: 100%;
  height: 100%;
  background: rgba(10,30,30,.8);  
}
.counter-content{ 
  background-image: url('../img/fondo1.jpg');  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counter-content {
  border-top: 0px solid #25282b;
}
.counter-content .counter {
    border-right: 1px solid #8a85854d;
    border-top: 1px solid #8a85854d;
}
.counter-content .label {
  font-family: "Santral Light";
  text-transform: capitalize;
}


#skills{
  padding-top: 40px;
}
#skills h4{
  color: #EDEDED;
}

#work{ 
  min-height: 80vh;
}
#work h1{
  color: #343434;
}
#works a{
 cursor: pointer;
}
#work .botones .btn-portfolio {
    color: #5D5D5D;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 2px 5px;
    font-size: .7em;
    font-weight: 400;
    border-bottom: 3px solid rgba(0,0,0,0);
}
#work .botones .btn-portfolio:hover{
    color: #323232;
}
#work .botones .btn-portfolio:focus{
    border:0;outline:0 none;
}
#work .botones .active,
#work .botones .btn-portfolio:focus{
    border-bottom: 3px solid #323232;
}


#services h1{
  color: #DEDEDE;
}
#services .standard-title{
  color: #D9D9D9;
}
#services p{
  color: #B2B2B2;
}




#gallery .content{
  max-height: 550px;
  overflow-y: auto;
}
#gallery img{
  width: 100%;
}
#gallery .close{
  position: absolute;
  top: 0px ;
  right: 0px;
  background: #101010;
  font-size: 20px;
  line-height: 20px;
  color: #B8B8B8;
  padding: 10px;
  text-shadow: 0 0px 0 #fff; 
  z-index: 999;
  opacity: 1;
}
#gallery .content::-webkit-scrollbar {
    width: 4px;
}
/* Track */
#gallery .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
    
/* Handle */
#gallery .content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C9C9C9;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#gallery .content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #AFAFAF;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#gallery .content::-webkit-scrollbar-thumb:window-inactive {
  background: #AFAFAF; 
}

#contact{ 
  min-height: 20vh;
}
#contact h1{
  color: #E2E2E2;
  margin-bottom: 40px;
}  
#contact i{
  color: #00C191;
} 
#contact span{
  color: #E9E9E9;
  display: block;
  margin-bottom: 20px;
}  
#contact input[type=text],
#contact input[type=email],
#contact textarea{
  background: transparent !important; 
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255,255,255,.1);
  border-radius: 0;
  box-shadow: none;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
#contact input[type=text]:focus,
#contact input[type=email]:focus,
#contact textarea:focus{
  border-width: 1px;
  color: #F2F2F2;
  border-color: #00C191;
  box-shadow: 0px 0px 2px #00C191;
}
#contact textarea{
  width: 100%; 
  height: 120px;
}

#contact input[type=submit]{
  padding: 5px 25px;
  width: 100%;
  border-width: 1px;
  border-color: rgba(255,255,255,.1);
  background: #009D76;
  color: #fff;
  margin-bottom: 50px;
   font-family: "Ubuntu-M";
  webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  transition: background 0.8s;
}
#contact input[type=submit]:hover{
  background: #00C191;
}





.infograph-container {   
  background: #20B699 url('../img/fondo.jpg');
}
.section-header {   
  margin-bottom: 10px;
   font-family: "Ubuntu-M";
  text-transform: capitalize;
}
.standard-title{   
   font-family: "Santral Light";
  text-transform: none;
  font-size: 18px;
  margin-top: 10px;
}
.box-side-details p{
  font-family: "Santral Light";
  color: #4a4a4a;
}


.main-footer h4,
.main-footer h6{
    color: #e2e2e2;
    font-family: "Santral Light";
}
.main-footer h6{
    margin-bottom: 10px;
    font-size: 11px;
    color: #C4C4C4;
}
.main-footer h4{
    font-size: 14px;
}
.skillbar {
    position:relative;
    display:inline-block;
    margin-bottom:30px;
    width:90%;
    background:#eee;
    height:15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
 
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
 
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:15px;
    line-height:14px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
 
.skillbar-bar {
    height:15px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
 
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:15px;
    line-height:14px;
    color:#444;
    color:rgba(0, 0, 0, 0.4);
}